<manifest
	package="org.un.charteroftheunitednations"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:name="org.un.charteroftheunitednations.MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name="org.un.charteroftheunitednations.MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="org.un.charteroftheunitednations.DetailActivity"
			android:label="@string/title_activity_detail"
			android:parentActivityName="org.un.charteroftheunitednations.MainActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.un.charteroftheunitednations.MainActivity"/>
		</activity>
	</application>

</manifest>
